<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Select Profile</title>
    <link rel="stylesheet" href="/profile/profiles.css">
</head>
<body>
<main class="container">
    <h1>Who’s watching?</h1>
    <div class="profiles-wrap">
    </div>
    <button class="manage-btn" type="button">Manage Profiles</button>
</main>

<script src="/profile/app.js"></script>
</body>
</html>