body {
    background-color: #141414;
    color: #ffffff;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.settings-container {
    max-width: 500px;
    margin: 8rem auto;
    padding: 3rem;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 8px;
}

.settings-container h2 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 2rem;
    text-align: center;
}

.form-control {
    background-color: #333;
    border: 1px solid #333;
    color: #fff;
    border-radius: 4px;
    padding: 0.75rem 1rem;
}

.form-control:focus {
    background-color: #454545;
    border-color: #e50914;
    box-shadow: none;
    color: #fff;
}

.form-control::placeholder {
    color: #8c8c8c;
}

.btn {
    padding: 0.75rem 1.5rem;
    border-radius: 4px;
    font-weight: bold;
    border: none;
    width: 100%;
    margin-top: 1rem;
}

.btn-danger {
    background-color: #e50914;
}

.btn-danger:hover {
    background-color: #f6121d;
}

.btn-secondary {
    background-color: rgba(109, 109, 110, 0.4);
    border: 1px solid rgba(255, 255, 255, 0.4);
}

.btn-secondary:hover {
    background-color: rgba(109, 109, 110, 0.7);
}


.alert {
    padding: 1rem;
    margin-top: 1.5rem;
    border-radius: 4px;
    text-align: center;
}

.alert-success {
    color: #d1e7dd;
    background-color: #198754;
    border: none;
}

.alert-danger {
    color: #f8d7da;
    background-color: #dc3545;
    border: none;
}
