
/* ------------------------- NavBar page ------------------------- */

body.navbar-page {
    margin: 0;
    background-color: #000;
    color: #fff;
}
.navbar {
    background: url("./secondBackround.jpg") no-repeat center center;
    background-size: cover;
}
.navbar-brand {
    font-weight: 900;
    color: red !important;
    font-size: 1.5rem;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.nav-link {
    color: #fff !important;
    margin-right: 1rem;
}
.nav-link:hover {
    text-decoration: underline;
}
.icon-btn {
    margin-left: 1rem;
    cursor: pointer;
}
.user-avatar {
    width: 28px;
    height: 28px;
}
